<div id="gesamtesFenster">
  <%= image_tag "impfpassBackground.jpg", class: "testIcon" %>
</div>

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->
<div id="tabellenPlatz">

  <div id="wikiTitle">Kompedium</div>
  <div id="inhalt">
    <ul>
      <% @diseases.each do |disease| %>
         <li id="menuLink"><%= link_to disease.name, disease%></li>
      <% end %>
    </ul>
  </div>

</div>