
<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "healthcare.png" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->
<div id="tabellenPlatz">

  <div id="wikiTitle">Kompendium</div>
  <div id="inhalt">
    <ul>
      <% @diseases.each do |disease| %>
         <li id="menuLink"><%= link_to disease.name, disease%></li>
      <% end %>
    </ul>
  </div>

</div>
</div>