<div id="gesamtesFenster">
  <%= image_tag "impfpassBackground.jpg", class: "testIcon" %>
</div>

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>

<div id="tabellenPlatz">




    <!-- erstelle Login -->
    <form>

      <div id="reg">
        <fieldset id="regField">
          <legend id="regLegend">Accoutinfo</legend>

          <table>
            <tr>
              <td id="regAttribut">
                Benutzername :
              </td>
              <td>
                <input id="regInput" type="text" name="userName" required/>
              </td>
            </tr>
            <tr>
              <td id="regAttribut">
              Geschlecht :
            </td>
              <td>
                <div style="font-size: 2.0em">Frau</div>
                <input type="radio" id="frau" name="Geschlecht" value="Frau" class="radiobutton">

              </td>
              <td><div style="font-size: 2.0em">Herr</div>
                <input type="radio" id="herr" name="Geschlecht" value="Herr" class="radiobutton">

              </td>
            </tr>
            <tr>
              <td id="regAttribut">
                Nachname :
              </td>
              <td>
                <input id="regInput" type="text" name="nachname"  required />
              </td>
            </tr>
            <tr>
              <td id="regAttribut">
                Vorname :
              </td>
              <td>
                <input id="regInput" type="text" name="vorname"  required />
              </td>
            </tr>

              <td id="regAttribut">
                Passwort :
              </td>

              <td>
                <input id="regInput" type="password" name="pw" required />
              </td>
            </tr>
            <tr>
              <td id="regAttribut">
                Passwort wiederholen :<br>
                <span title="- Das Passowrt sollte mind. 8 Zeichen lang sein
- es muss mind. ein Großbuchstabe vorhanden sein
- Sonderzeichen wie @ usw. sind nicht erlaubt
">Richtlinien</span>
              </td>

              <td>
                <input id="regInput" type="password" name="pwwiederholen" required />
                <td>
                &emsp;<button type="button" name="pwändern" style="font-size: 16pt">Passwort ändern</button>
                </td>
                </td>
            </tr>




            <tr>
              <td id="regAttribut">
                Email :
              </td>
              <td>
                <input id="regInput" type="Email" name="Email" required />
              </td>
            </tr>
            <tr>
              <td id="regAttribut">
                Email wiederholen :<br>

              </td>

              <td>
                <input id="regInput" type="email" name="emailwiederholen" required />
              <td id="regAttribut">
                <button type="button" name="emailändern" style="font-size: 16pt">Email ändern</button>
              </td>
              </td>
            </tr>
            <tr>

            </tr>


            <tr>


          </table>

        </fieldset>

      </div>



</form>


</div>
