<div class="video-container" xmlns="http://www.w3.org/1999/html">
  <%= video_tag "rotation.mp4", id:"bgvid", autoplay:"", loop:"", muted:"" %>
</div>

<div id="loginContainer">

  <!-- erstelle Login -->
<form>

<div id="log">
<fieldset id="loginField">
  <legend id="loginLegend">Member Login</legend>

  <table>
    <tr>
      <td id="loginAttribut">
        Benutzername :
      </td>
      <td>
        <input id="loginInput" type="text" name="userName" required/>
      </td>
    </tr>
    <tr>
      <td id="loginAttribut">
        Passwort :
      </td>
      <td>
        <input id="loginInput" type="password" name="pw" required />
      </td>
    </tr>
  </table>

</fieldset>

</div>

</form>
  <div id="loginLogin">
    <div id="link">
      <%= link_to 'login' , '/main' %>
    </div>
  </div>
</div>