<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "v1" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">

<div id="loginContainer">

  <!-- erstelle Login -->
<form>

<div id="log">
<fieldset id="loginField">
  <legend id="loginLegend">Member Login</legend>

  <table>
    <tr>
      <td id="loginAttribut">
        Benutzername :
      </td>
      <td>
        <input id="loginInput" type="text" name="userName" required/>
      </td>
    </tr>
    <tr>
      <td id="loginAttribut">
        Passwort :
      </td>
      <td>
        <input id="loginInput" type="password" name="pw" required />
      </td>
    </tr>
  </table>

</fieldset>

  <div id="loginLogin">
    <div id="link">
      <%= link_to 'login' , '/main' %>
    </div>
  </div>


</div>
</form>
</div>
</div>