<div class="video-container" xmlns="http://www.w3.org/1999/html">
  <%= video_tag "rotation.mp4", id:"bgvid", autoplay:"", loop:"", muted:"" %>
</div>

<div id="registerContainer">

  <!-- erstelle Login -->
  <form>

    <div id="reg">
      <fieldset id="regField">
        <legend id="regLegend">Registrieren</legend>

        <table>
          <tr>
            <td id="regAttribut">
              Benutzername :
            </td>
            <td>
              <input id="regInput" type="text" name="userName" required/>
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Passwort :
            </td>
            <td>
              <input id="regInput" type="password" name="pw" required />
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Passwort wiederholen :<br>
              <span title="- Das Passowrt sollte mind. 8 Zeichen lang sein
- es muss mind. ein Großbuchstabe vorhanden sein
- Sonderzeichen wie @ usw. sind nicht erlaubt
">Richtlinien</span>
            </td>
            <td>
              <input id="regInput" type="password" name="pw" required />
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Email :
            </td>
            <td>
              <input id="regInput" type="Email" name="Email" required />
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Email wiederholen :
            </td>
            <td>
              <input id="regInput" type="Email" name="Emailwiederholen"  autocomplete="off" required />
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Geschlecht :
            </td>
            <td>
              <div style="font-size: 2.0em">Frau</div>
              <input type="radio" id="frau" name="Geschlecht" value="Frau" class="radiobutton">

            </td>
            <td><div style="font-size: 2.0em">Herr</div>
              <input type="radio" id="herr" name="Geschlecht" value="Herr" class="radiobutton">

            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Nachname :
            </td>
            <td>
              <input id="regInput" type="text" name="nachname"  required />
            </td>
          </tr>
          <tr>
            <td id="regAttribut">
              Vorname :
            </td>
            <td>
              <input id="regInput" type="text" name="vorname"  required />
            </td>
          </tr>

        </table>

      </fieldset>

    </div>

  </form>
  <div id="regLogin">
    <div id="link">
      <%= link_to 'Registrieren' , '/main' %>
    </div>
  </div>
</div>