<html>
<head>
  <style>

    *{
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;

    }


#menuLink *{
  text-decoration: none;
  color: white;
  line-height: 2.0em;
  font-size: 1.6em ;
  font-family: "Segoe UI Light";
}

#linkToProject{
  text-decoration: none;
  color: white;
}

#TableImpfungen{

  position: fixed;
  z-index: 1;
  padding-bottom: 0%;
  background: #ffffff;
  color: #000000;
  text-align: left;
  width: 35%;
  min-width: 504pt;
  margin-top: 7%;
  margin-left: 20%;
  font-family: "Segoe UI Light";
  font-size: 14pt;
  border: #14ff14 solid 0;
  border-radius: 15pt ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#tabelle{
  text-align: center;

  width: 100%;
  margin-bottom: 2%;
}

#tableHeader{
  font-size: 18pt;
  font-family: "Segoe UI";
  background: rgba(3,172,29,1);
  border: #03AC13 solid 0;
  border-radius: 15pt 15pt 0 0 ;
  padding: 1% 0% 1% 2%;
  margin-bottom: 2%;
}

#fälligkeitsdatum{
  width: 25%;
  min-width: max-content;
  text-align: center;
  padding: 1%;
}

#name{
 width: 45%;
  min-width: max-content;
  text-align: center;
  padding: 1%;
}

#schutz{
width: 30%;
  min-width: max-content;
  text-align: center;
  padding: 1%;
}

#tabellenzeile{

  padding: 1%;
  line-height: 18pt;
}

    #TableReisen{

      position: fixed;
      z-index: 1;
      padding-bottom: 0%;
      background: #ffffff;
      color: #000000;
      text-align: left;
      width: 35%;
      min-width: 504pt;
      margin-top: 25%;
      margin-left: 20%;
      font-family: "Segoe UI Light";
      font-size: 14pt;
      border: #14ff14 solid 0;
      border-radius: 15pt ;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    #reisezeitraum{
      width: 25%;
      min-width: max-content;
      text-align: center;
      padding: 1%;

    }

    #reiseziel{
      width: 35%;
      min-width: max-content;
      text-align: center;
      padding: 1%;
    }

    #flugGebucht{
      width: 19%;
      min-width: max-content;
      text-align: center;
      padding: 1%;
    }

    #hotelReserviert{
      width: 21%;
      min-width: max-content;
      text-align: center;
      padding: 1%;
    }

   /*unterstütze Projekte*/

    #unterstützeProjekte{

      position: fixed;
      z-index: 1;
      background: #ffffff;
      color: #000000;
      text-align: left;
      width: 25%;
      min-width: 360pt;
      min-height: 428pt;
      margin-top: 7%;
      margin-left: 65%;
      font-family: "Segoe UI Light";
      font-size: 14pt;
      max-height: 58.5%;
      overflow: hidden;
      border: #14ff14 solid 0;
      border-radius: 15pt ;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    #overflow{
      max-height: 390pt;
      overflow-y: scroll;
    }

    #artikel{
      padding: .5% 3% 0% 2.5%;
      border-width: 0pt 0pt 1pt 0pt;
      border-style: solid;
      border-color: white;
      line-height: 18pt;
    }

    #artikelHeader{
      font-size: 16pt;
      padding-bottom: 12pt;

    }

    #date{
      font-size: 12pt;
      font-style: italic;
      margin: 0%;
    }



#newsFeedContent{
  border-top: 1pt solid white;
  margin-top: 5%;
}


  #input1{
    font-size: 1.0em;
    font-family: "Segoe UI Light";
    width: 170px;
    color: white;
    outline: none;
    background-color: transparent;

    margin-bottom: 10px;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
  }

  #text{

   margin-top: 10px;
    color: white;
    font-size: 1.3em ;
    font-family: "Segoe UI Light";
  }



      #suche{
        width: fit-content;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 2px 5px 2px 5px;
        font-family: "Segoe UI Light";
        font-size: 1.6em;
        size: auto;
        color: white;
        text-align: center;
        border-radius: 10px;
        margin-left: 25%;
        border-color: white;
        border-width: 1px;
        border-style: solid;

      }

     /*unerlässlich*/
    #map {
      height: 100%;
    }

    #infowindow-content .title {
      font-weight: bold;
    }

    #infowindow-content {
      font-family: "Segoe UI Light";
      display: none;
    }

    #map #infowindow-content {
      display: inline;
    }


    .pac-controls label {
      font-family: "Segoe UI Light";
      font-size: 13px;
      font-weight: 300;
    }

    #pac-input {
      background-color: #fff;
      font-family: "Segoe UI Light";
      font-size: 17px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
      border-radius: 10px;
      border-style: solid;
      margin-top: 1%;
    }

    #pac-input:focus {
      border-color: white;
    }




  </style>

</head>

<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "healthcare.png" , size: "2048x1080"  %>

</div>



<div id="MapFenster">



  <!--

  <input id="pac-input" class="controls" type="text"
         placeholder="Zieleingabe">
  <div id="map"></div>
  <div id="infowindow-content">
    <span id="place-name"  class="title"></span><br>
    Place ID <span id="place-id"></span><br>
    <span id="place-address"></span>
  </div>

  <script>
      // This sample uses the Place Autocomplete widget requesting only a place
      // ID to allow the user to search for and locate a place. The sample
      // then reverse geocodes the place ID and displays an info window
      // containing the place ID and other information about the place that the
      // user has selected.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZLMhUcGgyrPcMynUS21Tq4IdYXTRJXeY&libraries=geometry,places,visualization";

      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 52.138949, lng: 11.645445},
              zoom: 9
          });


          var input = document.getElementById('pac-input');

          var autocomplete = new google.maps.places.Autocomplete(
              input, {placeIdOnly: true});
          autocomplete.bindTo('bounds', map);

          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          var infowindow = new google.maps.InfoWindow();
          var infowindowContent = document.getElementById('infowindow-content');
          infowindow.setContent(infowindowContent);
          var geocoder = new google.maps.Geocoder;
          var marker = new google.maps.Marker({
              map: map
          });
          marker.addListener('click', function() {
              infowindow.open(map, marker);
          });

          autocomplete.addListener('place_changed', function() {
              infowindow.close();
              var place = autocomplete.getPlace();

              if (!place.place_id) {
                  return;
              }
              geocoder.geocode({'placeId': place.place_id}, function(results, status) {

                  if (status !== 'OK') {
                      window.alert('Geocoder failed due to: ' + status);
                      return;
                  }
                  map.setZoom(11);
                  map.setCenter(results[0].geometry.location);
                  // Set the position of the marker using the place ID and location.
                  marker.setPlace({
                      placeId: place.place_id,
                      location: results[0].geometry.location
                  });
                  marker.setVisible(true);
                  infowindowContent.children['place-name'].textContent = place.name;
                  infowindowContent.children['place-id'].textContent = place.place_id;
                  infowindowContent.children['place-address'].textContent =
                      results[0].formatted_address;
                  infowindow.open(map, marker);
              });
          });


          var layer = new google.maps.FusionTablesLayer({
              query: {
                  select: 'geometry',
                  from: '1KiBb26UhzeNw4tDEhjLXm902y-tXt7Ii6FumC_tC',
                  where: 'Gefahr > 0'

              },
              styles: [ {
                  polygonOptions: {
                      fillColor: '',
                      fillOpacity: 0.0
                  }
              }, {
                  where: 'Krankheit = \'Malaria\'',
                  polygonOptions: {
                      fillColor: '#ff6c00',
                      fillOpacity: 0.2
                  }
              },
                  {
                      where: 'Krankheit = \'Ebola\'',
                      polygonOptions: {
                          fillColor: '#ff0006',
                          fillOpacity: 0.2
                      }
                  }]
          });
          layer.setMap(map);



          /* neues Info-Fenster */
          google.maps.event.addListener(layer, 'click', function(e) {

              // Change the content of the InfoWindow
              var achtung = "Achtung "
              var danger = achtung.bold()

              e.infoWindowHtml = danger +  e.row['Krankheit'].value + "<br>";
          });


      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZLMhUcGgyrPcMynUS21Tq4IdYXTRJXeY&libraries=places&callback=initMap"
          async defer></script>



-->

  <%= render partial: 'pages/newsline'%>
  <%= render partial: 'pages/leftsidepart'%>




  <!-- Tabelle Bevorstehende Impfungen-->

  <div id="TableImpfungen">

    <header id="tableHeader">Bevorstehende Impfungen</header>
    <table id="tabelle">
      <tr id="tabellenzeile">
        <th id="fälligkeitsdatum">Fälligkeitsdatum</th>
        <th id="name"> Name</th>
        <th id="schutz">Impfstoff</th>
      </tr>
      <tr id="tabellenzeile" >
        <td id="tabellenzeile">20.10.2019</td>
        <td id="tabellenzeile">Tetanus-Impfung</td>
        <td id="tabellenzeile">Boostrix</td>
      </tr>
      <tr id="tabellenzeile">
        <td id="tabellenzeile">8.10.2019</td>
        <td id="tabellenzeile">Grippeschutzimpfung</td>
        <td id="tabellenzeile">Influac</td>
      </tr>
      <tr id="tabellenzeile">
        <td id="tabellenzeile">13.02.2020</td>
        <td id="tabellenzeile">Poliomyelitis</td>
        <td id="tabellenzeile">Polio-Vaccinol</td>
      </tr>
    </table>
  </div>


<!-- Tabelle geplante Reisen-->
  <div id="TableReisen">

    <header id="tableHeader">Geplante Reisen</header>
    <table id="tabelle">
      <tr id="tabellenzeile">
        <th id="reisezeitraum">Reisezeitraum</th>
        <th id="reiseziel"> Reiseziel</th>
        <th id="flugGebucht">Flug gebucht</th>
        <th id="hotelReserviert">Hotel reserviert</th>
      </tr>
      <tr id="tabellenzeile" >
        <td id="tabellenzeile">20.10 - 30.10.2019</td>
        <td id="tabellenzeile">New York</td>
        <td id="tabellenzeile">Ja</td>
        <td id="tabellenzeile">Nein</td>
      </tr>
      <tr id="tabellenzeile">
        <td id="tabellenzeile">8.10. - 15.10.2019</td>
        <td id="tabellenzeile">Griechenland</td>
        <td id="tabellenzeile">Ja</td>
        <td id="tabellenzeile">Ja</td>
      </tr>
      <tr id="tabellenzeile">
        <td id="tabellenzeile">13.02. - 15.02.2020</td>
        <td id="tabellenzeile">Berlin</td>
        <td id="tabellenzeile">Nein</td>
        <td id="tabellenzeile">Nein</td>
      </tr>
    </table>

  </div>


  <!--Info unterstüzte Projekte-->
  <div id="unterstützeProjekte">

    <header id="tableHeader">
      Unterstüzte Projekte
    </header>
    <div id="overflow">
    <ul id="newsFeedContent">

        <article id="artikel">
          <header id="artikelHeader">Forschung Quantencomputer</header>
          <p>Entwickeln einens QPc für Heimanwender<br>
          Spendenziel  : 95 %<br>
          Ende der Unterstützungsmaßnahmen : 15.01.2023</p>
          <footer>
            <a id="linkToProject" href="#">Read more</a>
          </footer>
        </article>

      <article id="artikel">
        <header id="artikelHeader">Forschung Quantencomputer</header>
        <p>Entwickeln einens QPc für Heimanwender<br>
          Spendenziel  : 95 %<br>
          Ende der Unterstützungsmaßnahmen : 15.01.2023</p>
        <footer>
          <a id="linkToProject" href="#">Read more</a>
        </footer>
      </article>

      <article id="artikel">
        <header id="artikelHeader">Forschung Quantencomputer</header>
        <p>Entwickeln einens QPc für Heimanwender<br>
          Spendenziel  : 95 %<br>
          Ende der Unterstützungsmaßnahmen : 15.01.2023</p>
        <footer>
          <a id="linkToProject" href="#">Read more</a>
        </footer>
      </article>

      <article id="artikel">
        <header id="artikelHeader">Forschung Quantencomputer</header>
        <p>Entwickeln einens QPc für Heimanwender<br>
          Spendenziel  : 95 %<br>
          Ende der Unterstützungsmaßnahmen : 15.01.2023</p>
        <footer>
          <a id="linkToProject" href="#">Read more</a>
        </footer>
      </article>
    </ul>
    </div>
  </div>

<!--rechte Seite
<div class="Seitenfenster2">
  <table id="text">

      <tr> <td id="text">Reiseziel</td></tr>
    <tr><td><input id="input1" name="destination" type="text"></td></tr>
  <tr id="text"><td>Abflug</td></tr>

 <td> <input id="input1" type="text"></td>

    <tr><td><div><input type="date" id="input1" name="startDate"></div></td></tr>
    <tr id="text"><td>Dauer in Tagen</td></tr>
    <tr><td><input id="input1" name="duration" type="text"></td></tr>

  </table>

  <script>
      function expedia() {

          var link ="https://www.expedia.de/Hotel-Search?packageType=fh&searchProduct=hotel&c=2cf23a2f-b989-4c31-8330-43443e06c7e1&adults=2&originId=179896&ftla=MUC&destination=";

          link = link + document.getElementById("destination").value;

          link = link + "+(WAS-Alle+Flugh%C3%A4fen)&destinationId=&ttla=WAS&startDate=";

          link = link + document.getElementById("startDate").value;

          link = link + "&endDate=";

          var start = document.getElementById("startDate").value;

          var endDate = new Date(start + document.getElementById("duration").value);

          link = link + endDate.String;

          link = link + "&sort=recommended&tripType=ROUND_TRIP&misId=5fb26802-5a02-48d5-89bf-5f0f7c2f5a1b";

          return link;
      }
  </script>

  <div id="suche">
    <div id="link">
      <a href= "javascript:expedia()"  target="_blank" >Suche</a>

    </div>

    -->

</div>
</html>

