<div id="gesamtesFenster">
  <%= image_tag "impfpassBackground.jpg", class: "testIcon" %>
</div>

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>

<div id="tabellenPlatz">
  <div id="wikiTitle"> Impfkalender des RKI Stand 2017</div>
  <%= image_tag "vaccination_calender_2017.png", id: "vaccination_calender"%>
</div>