<h1>Confirm entered Data</h1>

<% @vaccination_card.attributes.each do |attr| %>
  <% if attr[1]%>
    <p>
      <strong><%= attr[0] %></strong>
      <%= attr[1] %>
    </p>
  <% end %>
<% end %>

<%= f.hidden_field :user_id, value: current_user.id %>