/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require dataTables/jquery.dataTables
 */
*{
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;

}

.inline{
    display: inline;
}

#gesamtesFenster{

    overflow: hidden;
    position: fixed;

    z-index: -1;
}

#inhalt{
    text-align: left;
    color: #000000;
    margin-left: 6%;
    margin-top: 3%;
    margin-right: 30%;
    font-size: 14pt;
    line-height: 20pt;
    font-family: "Segoe UI Light" !important;
    align-items: left !important;
    text-decoration: none;
    z-index: 1;
    background: #ffffff;
    width: 63%;
    min-width: 504pt;
    border: #14ff14 solid 0;
    border-radius: 15pt ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    min-height: 82%;
    max-height: 82%;
    overflow: auto;

}

#wikiTitle{

    padding-top: 1%;
    padding-bottom: 0.5%;
    color: #ffffff;
    font-family: "Segoe UI " !important;
    font-style: normal;
    font-size: 26pt;
}

#tabellenPlatz{
    clear: both;
    height: 100%;
    width: 100% ;
    max-width: 100%;
    background: transparent;
    float: right;
    z-index: 1;
    overflow: auto;
    scroll-behavior: auto;
}

.dt-table-link-border{
    display: inline-block;
    padding: 5px;
    padding-top: 1px;
    font-family: "Segoe UI Light";
    font-size: 13pt;
    /*margin-bottom: 8%;*/
    color: white;
    text-align: center;

    border-color: white;
    border-width: 1.5px;
    border-style: solid;
}

.dt-table-link{
    padding: 1%;
    font-family: "Segoe UI Light";
    font-size: 16px;
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    white-space: nowrap;
}

.dt-table-link-border:hover{
    color: black;
    background-color: rgba(255,255,255,0.5);
}

#link_to_Antrag{
    color: #000000;
    border: solid 0 #ffffff;
    border-radius: 5pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3pt;
}