#overview{
    margin-left: 3.5%;
    margin-top: 1%;
    margin-right: 70%;
    margin-bottom: 3%;
    color: white;
    text-align: left;
    border: solid 1px white;
    padding: 10pt 10pt 16pt 10pt ;
    line-height: 20pt;
    display: inline-block;
    float: left;
}

#anker{
    text-decoration: none;
    color: white;
    font-size: 16pt ;
    font-family: "Segoe UI Light";
}
