#register{
    margin-left: 3vw;
    margin-top: 2vh;
    color: white;
    text-align: left;
    border: solid 1px white;
    border-radius: 10px;
    padding: 10pt 0pt 16pt 10pt ;
    line-height: 20pt;
}

#anker{
    text-decoration: none;
    color: white;
    font-size: 16pt ;
    font-family: "Segoe UI Semilight";
}