#overview{

    margin-right: 69%;
    margin-top: 2%;
    margin-bottom: 6%;
    color: #000000;
    text-align: left;
    border: solid 1px #000000;
    border-radius: 15pt;
    padding: 10pt 10pt 16pt 10pt ;
    line-height: 20pt;
    display: inline-block;
    float: left;
}

#anker{
    text-decoration: none;
    color: #000000;
    font-size: 16pt ;
    font-family: "Segoe UI Light";
}
