#who{
    background-color: rgba(49,165,159,1);
}




#impfKategorie{
    padding: 5px;
    margin: 1vh;
    background-color: transparent;

    margin-left: 1.2vw;
    font-family: "Segoe UI Light";
    font-size: 1.4em;

    color: white;
}



#tabelleSI{
    border-style: none;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 97%;
    font-family: "Segoe UI Light";
    background-color: transparent;

}

#tabelleSI th{
    background: rgba(49,165,159,1);
    padding: 1%;
    color: #ffffff;
    font-weight: bold ;
}

#tabelleSI td {
    border: white solid;
    border-width:  0px 1px 1px 1px;
    padding: 1%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.odd{
    background-color: transparent !important;
}

#vaccination_calender{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

#link_to_vacc_information{
    font-family: "Segoe UI Light";
    font-size: 1.5em;
    color: white;
    margin-left: 1%;
    text-decoration: none;
}

/*SHOW ENTRIES*/

#tabelleSI_length{
    margin: 1%;
    margin-left: 1.5%;
    font-family: "Segoe UI Light";
    color: white;

}

/*INFO FÜR TABELLE*/
#tabelleSI_info{

    margin-left: 1.5%;
    font-family: "Segoe UI Light";
    color: white;

}

/*SUCHFELD*/
#tabelleSI_filter{
    margin: 1%;
    margin-right: 1.7%;
    font-family: "Segoe UI Light";
    color: white;
}

/*Prev or Next*/
#tabelleSI_paginate{
    margin: 1%;
    margin-right: 1.7%;

}

#tabelleSI_previous{
    color: white !important;
    font-family: "Segoe UI Light";
}

#tabelleSI_next{
    color: white !important;
    font-family: "Segoe UI Light";
}


