#SeitenfensterLinks{
<<<<<<< HEAD
    position: absolute;
    text-align: left !important;
    border-radius: 0 60% 60% 0;
    top: 0%;
    height: 50%;
=======

    position: fixed;
   text-align: left !important;
    top: 0%;
    height: 85.1%;
>>>>>>> ecf8c04e0289a8774d344af5d1486bcd371b0bc8
    padding: 5% 1% 1% 2%;
    background: rgba(0, 0, 0, 0.6);
    width: 7%;
    min-width: 180px;
<<<<<<< HEAD
    margin-top: 7%;
    float:left;
    clear: both;
    z-index: 1;
=======

    float:left;

    z-index: 3;
>>>>>>> ecf8c04e0289a8774d344af5d1486bcd371b0bc8
}

#menu{

    opacity: 100%;
    height: 100%;
    color: white;
}

#menuLink *{

    padding: 0.5% 0% 0.5% 0% ;
    line-height: 2.0em;
    font-size: 1.6em ;
    font-family: "Segoe UI Light";
    text-decoration: none;
<<<<<<< HEAD
    color: white;

}

#menuLink :hover{
    color: rgba(49,165,159,1);
}

=======

}

#menuLink :hover{
    color: rgba(49,165,159,1);
}
>>>>>>> ecf8c04e0289a8774d344af5d1486bcd371b0bc8
