#laufsch
{
    padding-bottom: 5px;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed; bottom: 0em;
    border-color: white;
    border-bottom-color: transparent;
    border-width: 1px;
    border-style: solid;
    font-family: "Segoe UI Semibold";
    width: 99.9%;
    height: 1em;
    color: #ffffff;
    text-align: center; font-style: normal; font-size: 20px;
    z-index: 3;
}