#laufsch
{
    padding-bottom: 1%;
    position: fixed;
    font-family: "Segoe UI Light";
    width: 100%;
    bottom: 0%;
    height: 1.25%;
    color: #ffffff;
    text-align: center; font-style: normal; font-size: 20px;
    background: rgba(0,0,0, .6);
    z-index: 3;
}