
#meineNotizen{
    font-size: 14pt;
    font-family: "Segoe UI Light";
    text-decoration: underline #000000;
    color: #000000;
}

#notiz1{
}

#notiz2{

}

#my_notes{
margin-bottom: 15%;
}

#erstelleNotiz{
    margin: 1% 1% 1% 1%;
    float: left;

}

#Seitenfenster3{
    margin: 1%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 5%;
    width: 13%;
}

#noteAttribut{
    border-style: solid;
    padding: 2%;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background: transparent;
    width: 470%;
    height: 470pt;

    font-size: 14pt;
    font-family: "Segoe UI Light";
    color: #000000;
}

#noteTitle{

    border-style: solid;
    margin-bottom: 5%;
    padding: 1% 1% 0% 1.5%;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    width: 200%;


    font-size: 14pt;
    font-family: "Segoe UI Light";
    color: #000000;
}

#save{
    background-color: transparent;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 3%;
    border-style: solid;
    padding: 2%;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
}

#linkAddDelete{
    font-family: "Segoe UI Light";
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    padding: 2%;


}

#notesBackgroundDiv{
    border: solid 2pt #ffffff;
    border-radius: 15pt;
    min-height: 82%;
    max-height: 82%;
    margin-left: 6%;
    padding-top: 1%;
    max-width: 62%;
    margin-top: 3%;
    background: #ffffff;
}

#noteAttribut{
    max-width: 550%;
    min-width: 10%;
}

#speichern{
    margin-left: -40%;
}

#link_to_Antrag2{
    font-family: "Segoe UI Light";
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;

}

#link_to_Antrag2 :hover{
    color: #03AC13;
}