.mandatory_field{
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: super;
}

#mandatory_fields{
    text-align: left;
    margin: 1% 2% 4% 4%;
    font-size: 11pt;

}

.regInput {
    color: white;
    font-family: "Segoe UI Light";
    font-size: 14pt;
    outline: none;
    background-color: transparent;
    width: 90%;
    border-color: white;
    min-width: 150pt;
    border-width: 2px;
    padding: 1%;

}

#reg{
    text-align: center;
    color: white;

}

.regAttribut{
    font-family: "Segoe UI Light";
    font-size: 16pt;
    text-align: left;
    padding: 2%;

}

#regLogin{
    display: inline-block;
    font-family: "Segoe UI Light";
    font-size: 16pt;
    padding-left: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: rgba(255,255,255,0);

    margin-top: 5%;

    border-color: white;
    border-width: 1px;
    border-style: solid;


}

#registerContainer{
    position: absolute;
    text-align: center;

    top: 13%;
    left: 36%;


    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

#regLegend{
    text-decoration: underline;
    margin-left: 10%;
    margin-top: 1%;
    font-family: "Segoe UI";
    font-size: 28pt;
    text-align: center;
    margin-left: 32%;

}

#regField{
    padding: 20px 20px 50px 20px;
    border: none;
}