.mandatory_field{
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: super;
}

#mandatory_fields{
    text-align: left;
    margin: 1% 2% 4% 4%;
    font-size: 11pt;

}

.regInput {
    color: #000000;
    font-family: "Segoe UI Light";
    font-size: 14pt;
    outline: none;
    background-color: transparent;
    width: 90%;
    border-color: white;
    min-width: 150pt;
    border-width: 0;
    border-radius: 5pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;

}

#reg{
    text-align: center;
    color: #000000;

}

.regAttribut{
    color: #000000;
    font-family: "Segoe UI Light";
    font-size: 16pt;
    text-align: left;
    padding: 2%;

}

#regLogin{
    display: inline-block;
    font-family: "Segoe UI Light";
    font-size: 16pt;
    padding-left: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: rgba(255,255,255,0);

    margin-top: 5%;

    border-color: white;
    border-width: 1px;
    border-style: solid;


}

#registerContainer{
    position: absolute;
    text-align: center;
    padding-right: 1.8%;
    top: 13%;
    left: 36%;

    background-color: #ffffff;
    border: solid 0 #ffffff;
    border-radius: 15pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

#regLegend{
    text-decoration: underline;
    margin-left: 10%;
    margin-top: 1%;
    font-family: "Segoe UI";
    font-size: 28pt;
    text-align: center;
    margin-left: 32%;

}

#regField{
    padding: 20px 20px 2%  20px;
    border: none;
}

#usertable{
    border-style: none;
margin-left: 1.2vw;
margin-right: 1.2vw;
margin-top: 1vh;
margin-bottom: 1vh;
width: 97%;
font-family: "Segoe UI Light";
background-color: transparent;

}

#usertable th{
    border: solid black 0.1pt;
    background: #03AC13;
    padding: 1%;
    color: #000000;
    font-weight: bold ;
}

#usertable td {
    border: #000000 solid;
    border-width:  0px 1px 1px 1px;
    padding: 1%;
    color: #000000 ;
    font-weight: bold;
    text-align: center;
}

#user_edit_Field{
    margin-left: 350px;
    padding: 20px 20px 50px 20px;
    border: none;
}

.editInput{
    color: #000000;
    font-family: "Segoe UI Light";
    font-size: 14pt;
    outline: none;
    background-color: transparent;
    width: 90%;
    border-color: white;
    min-width: 200pt;
    border-width: 2px;
    padding: 1%;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.dt-table-link{
    color: black !important;
}